<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="title" value="My Games" />
    <add key="logFileName" value="*" />
    <add key="gamesFileName" value="*" />
    <add key="timeControls" value="40,60" />
    <add key="addingTime" value="30,10" />
    <add key="engine" value="" />
    <add key="loopStatusErrorTime" value="60" />
    <add key="lastFileUploadErrorTime" value="60" />
    <add key="errorStatusErrorTime" value="900" />
    <add key="livechessUploadErrorTime" value="60" />  
  </appSettings>
</configuration>